body {
  background-color: #f9fcff;
  min-height: 100vh;
  background-repeat: no-repeat;
  background: url('https://res.cloudinary.com/streetboy/image/upload/v1585391560/bg-space_tdte6z.jpg') no-repeat 50% fixed;
  background-size: cover;
}

.pointer {
  cursor: pointer;
}

.icon-virus-covid {
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.header-covid-19 {
  font-family: Kanit, sans-serif;
  font-size: 32px;
  line-height: 40px;
  color: #F9345E;
}

.subheader-covid-19 {
  font-family: Kanit, sans-serif;
  font-size: 28px;
  line-height: 36px;
  color: #6236FF;
}

.description-covid-19 {
  font-family: Kanit, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

@media (max-width: 320px) {
  .block-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    max-width: 300px;
    width: 100%;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 64px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .icon-stat {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 8px;
    top: calc(50% - 12px);
  }

  .block-stat {
    position: relative;
    background-color: #ffffff;
    padding: 8px;
    padding-left: 40px;
    border-radius: 16px;
    min-height: 92px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .block-stat .label {
    font-family: Kanit, sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  .block-stat .value {
    font-family: Kanit, sans-serif;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .block-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    max-width: 320px;
    width: 100%;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 64px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .icon-stat {
    width: 36px;
    height: 36px;
    position: absolute;
    left: 12px;
    top: calc(50% - 18px);
  }

  .block-stat {
    position: relative;
    background-color: #ffffff;
    padding: 8px;
    padding-left: 60px;
    border-radius: 16px;
    min-height: 104px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .block-stat .label {
    font-family: Kanit, sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  .block-stat .value {
    font-family: Kanit, sans-serif;
    font-size: 20px;
    line-height: 28px;
  }
}

@media (min-width: 376px) {
  .block-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    max-width: 376px;
    width: 100%;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 64px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .icon-stat {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 16px;
    top: calc(50% - 24px);
  }

  .block-stat {
    position: relative;
    background-color: #ffffff;
    padding: 8px;
    padding-left: 80px;
    border-radius: 16px;
    min-height: 108px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .block-stat .label {
    font-family: Kanit, sans-serif;
    font-size: 18px;
    line-height: 28px;
  }

  .block-stat .value {
    font-family: Kanit, sans-serif;
    font-size: 20px;
    line-height: 32px;
  }
}

.icon-flag {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.last-update {
  font-size: 14px;
  line-height: 20px;
  color: #F9345E;
}

.root-tab {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.root-tab .block-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: #ececec; */
  padding: 8px;
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

.block-tab .tab-button {
  width: 45%;
  height: 40px;
  background-color: #dedde2;
  color: #000000;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-tab .tab-button-active {
  width: 45%;
  height: 40px;
  background-color: #5431d6;
  color: #ffffff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.55);
}

.footer-covid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-color: #ffffff;
  padding: 8px 16px;
  bottom: 0px;
  right: 0px;
  z-index: 1069;
  border-top: 3px solid #F9345E;
  box-shadow: rgba(0, 0, 0, 0.4) 0px -4px 5px 0px;
}

.share-facebook {
  position: absolute;
  right: 16px;
}

.share-line {
  position: absolute;
  right: 56px;
}

.link-api {
  position: absolute;
  right: 96px;
}

.link-page-facebook {
  color: #ffc482;
}

.link-page-facebook:hover {
  color: #d26316;
}

.block-graph {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
}

.graph-label {
  font-family: Kanit, sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 0px;
}